
.piano {
  display: inline-block;
  border-style: dotted 1px;
}
.black {
  height: 150px;
  width: 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px #4d4d4d;
}
.white {
  height: 200px;
  width: 50px;
  border-color: #000;
  border-style: solid 1px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 10px 5px #4d4d4d;
}
.key {
  margin-top: auto;
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #4d4d4d;
}
.black:hover {
  background-color: #1a1a1a;
  color: #8c8c8c;
}
.key-hover {
  color: #fff;
}
